@use '../../app/tokens' as *;

.button-container {
    cursor: pointer;
    font-size: 2.5vw;
    color: $color-text;
    // padding-bottom: 1vw;

    &:hover {
        color: $color-text-muted;
    }
}
